{% extends 'base.html.twig' %}
{% block body %}
<h2> Thank you {{Name}} for purchasing our products</h2>
<a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Back to products list</a>

{% endblock%}