{% extends 'base.html.twig' %}
{% block body %}
<h2> Dziękuję za zakup. Zakup zostanie zrealizowany w ciągu 48h</h2>
<a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Powrót do listy produktów</a>

{% endblock%}