{% extends 'base.html.twig' %}

{% block title %}Edit Produkt{% endblock %}

{% block body %}
<hr>

    {{ include('crud/_form.html.twig', {'button_label': 'Zaktualizuj'}) }}

    <a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Wróć do listy produktów</a>

    {{ include('crud/_delete_form.html.twig') }}
{% endblock %}
