{% extends 'base.html.twig' %}

{% block title %}New Crud{% endblock %}

{% block body %}
    <h2>Create new product</h2>

    {{ include('crud/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Back to product list</a>
{% endblock %}
